#main .huamc{
	background: #fff;
	border-radius: 3px;
	-moz-border-radius:3px; 
	-webkit-border-radius:3px;
	margin-top: 20px;
	min-height: 1064px;
}
#main .huamc h3{
	font-size: 16px;
	padding-left: 10px;
	line-height: 40px;
	color: #1d83ab;
	font-weight: 600;
}
#main .huamc ul{
	_zoom:1;
	overflow: hidden;
}
#main .huamc ul li{
	width: 160px;
	display:block;
	height: 180px;
	overflow: hidden;
	float: left;
	margin:10px 10px;
}
#main .huamc ul li a{
	width: 160px;
	height: 150px;
	display: block;
	overflow: hidden;
}
#main .huamc ul li a img{
	width: 100%;
}
#main .huamc ul li span{
	display: block;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
	color: #444444;
}
#main  .lianb{
	background: #fff;
	border-radius: 3px;
	-moz-border-radius:3px; 
	-webkit-border-radius:3px; 
	margin-top: 20px;
	min-height: 1064px;
}
#main .lianb h3{
	font-size: 16px;
	padding-left: 10px;
	line-height: 40px;
	color: #1d83ab;
	font-weight: 600;
}
#main  .lianb ul{
	min-height: 960px;
}
#main  .lianb li{
	_zoom:1;
	overflow: hidden;
	line-height: 26px;
	clear: both;
	padding:0 10px;
}
#main  .lianb li span{
	display: block;
	float: right;
}
#main  .lianb li a{
	float: left;
}
#main  .lianb p{
	text-align: center;
}
#main  .lianb p a{
	display: inline-block;
	padding:0 10px;
}
