body { 
	background :url(../image/body_bg.jpg) center 0 no-repeat #e8ebfc ; 
}
#wrap{
	width: 1000px;
	padding-top: 255px;
}
#header {
	width: 1000px;
	margin:0 auto;
	height: 50px;
	clear: both;
	float: none;
	_zoom:1;
	overflow: hidden;
}
#header .logo{
	width: 200px;
	height: 42px;
	overflow: hidden;
	float: left;
	margin-top: 5px;
}
#header .logo img{
	width: 100%;
}
#header .fhsy{
	float: right;
	margin-top: 12px;
}
#header a.return, 
#header a.custom, 
#header a.login,
 #header a.register,
 #header a.grzy,
 #header a.bjzy,
 #header a.whwl{
	background: none;
	-moz-border-radius:3px; 
    -webkit-border-radius:3px; 
    border-radius:3px; 
    border: none;
    display: block;
    float: right;
    height: 28px;
    margin: 0 0 0 10px;
    text-shadow: 0 1px 0 #fff;
}

#header a.return:hover, 
#header a.custom:hover, 
#header a.login:hover, 
#header a.register:hover{
	background: none;
	border: none;
	text-shadow:none;
	color: #000;	
}
#header a.return:hover span, 
#header a.custom:hover span, 
#header a.login:hover span, 
#header a.register:hover span,
#header a.grzy:hover span,
 #header a.bjzy:hover span,
 #header a.whwl:hover span
{
	color: #f7093a; 
	display: block;
}

#header a.return span {
	background: url(../image/gerenzhongx.png) no-repeat 0 5px;
}
#header a.return:hover span {
	background: url(../image/gerenzhongxhover.png) no-repeat 0 5px;
}
#header a.custom span {
	background: url(../image/sheji.png) no-repeat 0 4px;
}
#header a.custom:hover span {
	background: url(../image/shejihover.png) no-repeat 0 4px;
}
#header a.login span {
	background: url(../image/userblog_icon2.png) no-repeat 0 5px;
}
#header a.login:hover span {
	background: url(../image/userblog_icon2hover.png) no-repeat 0 5px;
}
#header a.register span {
	background: url(../image/userblog_icon1.png) no-repeat 0 5px;
}
#header a.register:hover span {
	background: url(../image/userblog_icon1hover.png) no-repeat 0 5px;
}
#header a.grzy span{
	background: url(../image/wanhu.png) no-repeat 0 4px;
}
#header a.grzy:hover span{
	background: url(../image/wanhuhover.png) no-repeat 0 4px;
}
#header a.bjzy span{
	background: url(../image/banji.png) no-repeat 0 4px;
}
#header a.bjzy:hover span{
	background: url(../image/banjihover.png) no-repeat 0 4px;
}
#header a.whwl span{
	background: url(../image/geren.png) no-repeat 0 4px;
}
#header a.whwl:hover span{
	background: url(../image/gerenhover.png) no-repeat 0 4px;
}
#main{
	width: 720px;
	margin:0 0 0 0;
}
#usertitle{
	height: 60px;
	width: 700px;
	padding:0;
	border: 1px solid red;
}
#mytag {
    margin:0 10px;
    width: 700px;
}
#mytag li {
    margin:0;
    height: 45px;
    line-height: 45px;
    padding:0 45px;
}
#mytag li a {
    background:none;
    border:0;
    border-radius: 0px;
    box-shadow:none;
    color: #9d7569;
    display: block;
    font-size: 16px;
    height: 45px;
    font-weight: 600;
    line-height: 45px;
    text-shadow:none;
}
#mytag li a:hover{
	background: none;
	color: #ccc;
}
#feed_box {
    margin: 10px;
    _zoom:1;
    overflow: hidden;
    padding: 0;
    width: 700px;
}
#feed_box .box {
    float:left; 
    width:670px; 
    min-height:275px; 
    -moz-border-radius:3px; 
    -webkit-border-radius:3px; 
    border-radius:3px; 
    -moz-box-shadow:0px 1px 3px #ccc; 
    -webkit-box-shadow:0px 1px 3px #ccc; 
    box-shadow:0px 1px 3px #ccc; 
    border-bottom:2px #ccc solid\9;
}
#feed_box .content{
	min-height: 165px;
}
#feed_box .footer{
	width: 670px;
}
#feed_box .date .month{
	background: url("../image/avatar_bg.png") repeat-x scroll 0 0;
    border: 1px solid #1d83ab;
    text-shadow: 0 -1px 0 #1d83ab;
}
#aside .my_pm a .pm_btn { 
	width:260px; 
	height:43px; 
	background:#fff; 
	-moz-border-radius:3px; 
	-webkit-border-radius:3px; 
	border-radius:3px;
	display:block; 
}
#feedArea .content .img_top li{
	width: 720px;
}
#feedArea .content .img_top img{
	max-width: 720px;
}





#aside {
	width: 260px;
	margin:0 0 0 0;
	margin-top: 65px;
}
#aside .my_data { 
	width:260px; 
	height:68px; 
	border:1px #ccc solid; 
	-moz-border-radius:3px; 
	-webkit-border-radius:3px; 
	border-radius:3px; 
	-moz-box-shadow:0px 1px 0px #ccc; 
	-webkit-box-shadow:0px 1px 0px #ccc; 
	box-shadow:0px 1px 0px #ccc; 
	background:#ffffff; 
}
#aside .my_data {
	height: 80px;
}
#aside .my_data li{
	height: 73px;
}
#aside .my_data .data_follow{
	width: 86px;
}
#aside .my_data .data_fans{
	width: 84px;
}
#aside .my_data .data_post{
	width: 86px;
}
#aside .my_location { 
	width:260px; 
	height:73px; 
	background-color:#fff; 
	margin:15px 0 0; 
	-moz-border-radius:3px; 
	-webkit-border-radius:3px; 
	border-radius:3px; 
	-moz-box-shadow:0px 1px 0px #ccc; 
	-webkit-box-shadow:0px 1px 0px #ccc; 
	box-shadow:0px 1px 0px #ccc; 
	padding:0 0 30px;
	height: 148px;
}
#aside .my_location ul{
	width: 240px;
	margin:0 auto;
	height: 110px;
}
#aside .my_location ul li{
	line-height: 26px;
	font-size: 12px;
	_zoom:1;
	overflow: hidden;
	border-bottom: 1px dashed #ccc;
}
#aside .my_location ul li span{
	display: block;
	float: right;
}
#aside .my_location ul li a{
	float: left;
	display: block;
}
#aside .my_location .gengduo{
	padding-left: 10px;
	font-size: 18px;
	height: 26px;
	line-height: 14px;
}
#aside .my_location .my_login{
	width: 210px;
}
#aside .my_follow { 
	width:260px; 
	background-color:#fff; 
	margin:15px 0 0; 
	-moz-border-radius:3px; 
	-webkit-border-radius:3px; 
	border-radius:3px; 
	-moz-box-shadow:0px 1px 0px #ccc; 
	-webkit-box-shadow:0px 1px 0px #ccc; 
	box-shadow:0px 1px 0px #ccc; 
}
#aside .my_follow .gengduo{
	padding-left: 10px;
	font-size: 18px;
	height: 26px;
	line-height: 26px;
}
#aside .my_follow .f_title{
	width: 240px;
	background: none;
	border-bottom: none;
}
#aside .my_follow .f_list{
	width: 260px;
}
#aside .my_follow .f_list li a img { 
	width:110px;
	height:90px; 
	background: none;
	padding:0; 
	border:none; 
	-moz-border-radius:none; 
	-webkit-border-radius:none; 
	border-radius:none; 
	-moz-box-shadow:none; 
	-webkit-box-shadow:none; 
	box-shadow:none; 
}
#aside .my_follow .f_list li a:hover img {
	background: none;
	padding:0; 
	border:none; 
	-moz-border-radius:none; 
	-webkit-border-radius:none; 
	border-radius:none; 
	-moz-box-shadow:none; 
	-webkit-box-shadow:none; 
	box-shadow:none; 
}
#aside .my_location .my_login {
    background: url("../image/tongzhi .png") no-repeat scroll 15px 12px;
}
#aside .my_location .zuoye {
    background: url("../image/zuoye.png") no-repeat scroll 15px 7px;
}
#aside .my_pm .pmdata {
	right: -20px;
}

#feedArea .reply_list {
    background-color: #fff;
    border-radius: 3px;
    -moz-box-shadow:3px; 
	-webkit-box-shadow:3px;
    width: 666px;
}