@charset "utf-8";
#content {
	width: 100%;
	padding-top: 105px;
	padding-bottom: 100px;
}
.ym {
	position: relative;
	margin: 55px auto 0 auto;
	_zoom:1;
	overflow:hidden;
}
.ym ul {
	position: relative;
	left: 50%;
	float: left;
}
.ym li {
	position: relative;
	right: 50%;
	display: inline;
	float: left;
	margin-left: 10px;
	color: #444444;
    font-size: 14px;
    line-height: 26px;
}
.ym li a {
	background:url(../images/icon.gif) no-repeat;
	width: 46px;
	display: block;
	height: 40px;
	text-align: center;
	color: #333333;
}
.ym .syy a {
	background-position: -287px -19px;
	color:#ffffff;
}
.ym .syy a:hover {
	background-position: -287px -19px;
	color:#ffffff;
}
.ym .sz a {
	background-position: -287px -84px;
}
.ym .sz a:hover {
	background-position: -287px -19px;
	color:#ffffff;
}
.ym .hover a {
	background-position: -287px -19px;
	color:#ffffff;
}
#content .textnr {
	color: #8888888;
	font-size: 12px;
	line-height: 50px;
	position:relative;
}
#content .gyjq .zxnry .textnr p{
	color: #888888;
    font-size: 12px;
    line-height: 50px;
    padding-top: 0;
    text-indent: 0;
}
#content .textnr span {
	padding: 0 15px 0 0;
}
#content .gyjq .chz .textnr ul li {
	line-height: 65px;
	font-size: 12px;
	color: #888888;
	outline:none;
}
#content .textnr ul {
	_zoom: 1;
	overflow: hidden;
}
#content .textnr ul span {
	padding: 0 0px 0 0;
}
#content .textnr ul li {
	float: left;
	margin: -7px -2px 0 5px;
	outline:none;
}
#content .textnr ul li a {
	display: block;
	width: 35px;
	height: 48px;
	text-align: center;
	outline:none;
	background:url(../images/icon.gif) no-repeat;
}
#content .textnr .wx a {
	background-position: -51px -13px;
}
#content .textnr .wx a:hover {
	background-position: -51px -73px;
}
#content .textnr .qq a {
	background-position: -114px -13px;
}
#content .textnr .qq a:hover {
	background-position: -114px -73px;
}
#content .textnr .wb a {
	background-position: -174px -13px;
}
#content .textnr .wb a:hover {
	background-position: -174px -73px;
}
#content .textnr .kj a {
	background-position: -231px -13px;
}
#content .textnr .kj a:hover {
	background-position: -231px -73px;
}
#weixkz1{
	background:#fff;
	display: block;
    height: 275px;
    width: 240px;
	border:1px solid #ccc;
	position:absolute;
	top:44px;
	left:185px;
	display:none;
	z-index: 9999;
}
#weixkz1 h4{
	color:#000;
	line-height:26px;
	font-size:14px;
	padding:10px 0 0 15px;
}
#weixkz1 p.tp{
	width:152px;
	height:152px;
	overflow:hidden;
	margin:0 auto;
}
#weixkz1 p.tp img{
	width:100%;
}
#content .text #weixkz1 p.wnzi{
	line-height:24px;
	font-size:14px;
	padding:10px;
}
#content .gyjq .zxnry .textnr p.wnzi{
    color: #888888;
    font-size: 14px;
    line-height: 24px;
    text-indent: 0;
	padding:10px;
}
#weixkz1 #dj1 {
	float: right;
	cursor: pointer;
	border: none;
	width: 30px;
	height: 30px;
}
#content .toptp {
	width: 100%;
}
#content .toptp img {
	width: 100%;
}
#content .gyjq {
}
#content .lhz {
	width: 240px;
	min-height: 540px;
	background:url(../images/datouwawa.png) no-repeat;
}
#content .lhz h2 {
	line-height: 26px;
	margin: 145px 0 0 53px;	
}
#content .lhz h2 span {
	display: block;
	font-size: 14px;
	margin:7px 0 0 0;
}
#content .lhz h2 span img{
	margin-left:-10px;
}
#content .lhz ul {
	width: 220px;
	margin:25px 0 0 7px;
	display: block;
}
#content .lhz ul li {
	height: 47px;
	overflow:hidden;
	text-align: center;
	font-size: 16px;
}
#content .lhz ul li a {
	display: block;
	height: 47px;
	line-height: 58px;
	color: #444444;
	margin: 0 auto;
}
#content .lhz ul li a:hover {
	color: #fff;
	background: url(../images/lilxw.png) no-repeat;
}
#content .lhz ul li a.hover {
	color: #fff;
	background: url(../images/lilxw.png) no-repeat;
}
#content .chz {
	width: 655px;
	margin-left: 30px;
}
#content .chz h1 {
	font-size: 30px;
	color: #333333;
	font-weight: normal;
	line-height: 40px;
	padding:50px 0 45px 0;
}
#content .chz h1 span {
	display: block;
	color: #80c048;
	font-weight: 600;
}
#content .gyjq .chz h5 {
	color: #80c048;
	font-size: 18px;
	font-weight: 600;
	padding: 5px 0 40px 0;
}
#content .gyjq .chz ul li {
	line-height: 26px;
	font-size: 14px;
	color: #444444;
}
#content .gyjq .chz .ditu {
	padding-top: 20px;
}
#content .rhz {
	width: 223px;
	background: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 2px 1px 5px #b5b3b3;
	-webkit-box-shadow: 2px 1px 5px #b5b3b3;
	box-shadow: 2px 1px 5px #b5b3b3;
	behavior: url(pie.htc);
	border: 1px solid #ededed;
	padding: 15px;
	margin-top: 30px;
}
#content .rhz h3 {
	font-size: 18px;
	color: #4bc3dc;
	font-weight: normal;
	line-height: 36px;
	border-bottom: 1px solid #dedede;
}
#content .rhz table{
	margin-top:10px;
}
#content .rhz table tr {
	display: block;
	_zoom: 1;
	overflow: hidden;
	height:40px;
}
#content .rhz tr .wenz {
	width: 70px;
	font-size: 14px;
	color: #444444;
	text-align: right;
	display: block;
}
#content .rhz tr .text {
	width: 140px;
	display: block;
}
#content .rhz tr .text input {
	width: 138px;
	border: 1px solid #ededed;
	height: 25px;
	line-height: 25px;
}
#content .rhz tr .text select {
	width: 140px;
	border: 1px solid #ededed;
	height: 25px;
	line-height: 25px;
	outline: none;
	color: #cccccc;
}
#content .rhz tr .text select option {
	width: 138px;
	border: 1px solid #ededed;
	height: 25px;
	line-height: 25px;
	outline: none;
	color: #444444;
}
#content .rhz tr .yzm input {
	width: 67px;
	border: 1px solid #ededed;
	height: 25px;
	line-height: 25px;
}
#content .rhz tr .yzm span {
	display: block;
	padding-left: 7px;
	cursor: pointer;
}
#content .rhz p {
	text-align: center;
	margin: 15px 0;
}
#content .rhz p input {
	width: 100px;
	font-size:16px;
	height: 32px;
	line-height: 32px;
	overflow: hidden;
	background: url(../images/tjiao.png) no-repeat;
	color: #ffffff;
	border: none;
	cursor: pointer;
	text-align: center;
}
/*公司简介*/
#content .gyjq .chz p {
	line-height: 26px;
	font-size: 16px;
	color: #444444;
}
/*资讯*/
#content .gyjq .zxlb {
	background: #ffffff;
	border: 1px solid #eeeeee;
}
#content .gyjq .zxlb .tab_title {
	height: 52px;
	overflow: hidden;
	left: 0;
	top: 0;
	clear: both;
	overflow: hidden;
	position: relative;
}
#content .gyjq .zxlb .tab_title .u {
	width: 655px;
	overflow: hidden;
	position: relative;
	height: 52px;
}
#content .gyjq .zxlb .tab_title ul {
	position: absolute;
	float: left;
	border-bottom: 1px solid #eeeeee;
}
#content .gyjq .zxlb .tab_title div {
	float: left;
	height: 50px;
	line-height: 50px;
	cursor: pointer;
}
#content .gyjq .zxlb .tab_title span.vright {
	top: 0;
	right: 5px;
	margin-left: 2px;
}
#content .gyjq .zxlb .tab_title span.vleft {
	top: 0;
	left: 0px;
	padding-left: 5px;
}
#content .gyjq .zxlb .tab_title li {
	float: left;
	width: 216px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	font-size: 24px;
	text-align: center;
	border-left: 1px solid #eeeeee;
	color: #444444;
}
#content .gyjq .zxlb .tab_title li:hover {
	color: #80c048;
}
#content .gyjq .zxlb .tab_title li.selected {
	color: #80c048;
}
#content .gyjq .zxlb .tab_content {
	overflow: hidden;
	padding: 30px;
}
#content .gyjq .zxlb .tab_content .none {
	display: none;
}
#content .gyjq .zxlb .tab_content ul li{
	_zoom:1;
	overflow:hidden;
	background:url(../images/jiantou%20.png) no-repeat 5px 20px;
	color:#444444;
	font-size:16px;
	height:45px;
	line-height:45px;
	border-bottom:1px dashed #eeeeee;
}
#content .gyjq .zxlb .tab_content ul li span{
	display:block;
	float:right;
}
#content .gyjq .zxlb .tab_content ul li a{
	display:block;
	float:left;
	color:#444444;
	padding-left:20px;
}
#content .gyjq .zxlb .tab_content .hui p{
	text-align:right;
	font-size:16px;
}
#content .gyjq .zxlb .tab_content .hui p a{
	color:#80c048;
}
#content .gyjq .zxtw .zxtw_hz{
	_zoom:1;
	overflow:hidden;
	margin-bottom:40px;
}
#content .gyjq .zxtw .zxtw_hz .hzl{
	width:225px;
	height:153px;
	overflow:hidden;
}
#content .gyjq .zxtw .zxtw_hz .hzl img{
	width:100%;
	height:100%;
	-moz-border-radius:15px; 
	-webkit-border-radius:15px; 
	border-radius:15px;
	behavior:url(pie.htc);
}
#content .gyjq .zxtw .zxtw_hz .hzr{
	width:410px;
}
#content .gyjq .zxtw .zxtw_hz .hzr li{
	font-size:18px;
	color:#444444;
}
#content .gyjq .zxtw .zxtw_hz .hzr li a{
	float:left;
	display:block;
	color:#80c048;
}
#content .gyjq .zxtw .zxtw_hz .hzr li span{
	float:right;
	font-size:16px;
	display:block;
}
#content .gyjq .zxtw .zxtw_hz .hzr p{
	font-size:14px;
	color:#888888;
	line-height:24px;
	padding-top:10px;
}
#content .gyjq .zxtw .zxtw_hz .hzr .gengd{
	font-family:Arial;
	font-size:14px;
	text-indent:0em;
	float:right;
}
#content .gyjq .zxtw .zxtw_hz .hzr .gengd a{
	display:block;
	width:122px;
	height:36px;
	line-height:36px;
	text-align:center;
	background:#80c048;
	color:#ffffff;
}
#content .gyjq  .zxnry h2{
	border-bottom:1px solid #cccccc;
	font-size:24px;
	color:#80c048;
	font-weight:normal;
	height:40px;
	line-height:40px;
	margin:60px 0 10px 0;
}
#content .gyjq  .zxnry .syyxyi{
	margin:60px 0 0 0;
}
#content .gyjq  .zxnry .syyxyi li{
	line-height:26px;
	font-size:14px;
}
#content .gyjq  .zxnry .syyxyi li a{
	color:#444444;
}
#content .gyjq  .zxnry .syyxyi li a:hover{
	color:#80c048;
}
#content .jqjyzd #dhtmlbook {
	width:900px;
	margin:60px auto 0;
	height:620px;
	position:relative;
	visibility:hidden;
	background:#000;
	border-right:1px solid #bbb;
	border-top:1px solid #bbb;
	-moz-box-shadow: 0 -1px 5px 5px #ccc;
	-webkit-box-shadow:0 -1px 5px 5px #ccc;
	box-shadow: 0 -1px 5px 5px #ccc;
}
#content .jqjyzd #txtbox {
	font-size:14px;
	width:890px;
	color:#aba193;
	font-family:"潞脷脤氓";
	position:absolute;
	top:320px;
	text-align:center;
}
#content .jqjyzd .page {
	overflow:hidden;
	border-left:1px solid #bbb;
	border-top:1px solid #bbb;
	-moz-box-shadow: 0 -1px 5px #ccc;
	-webkit-box-shadow:0 -1px 5px #ccc;
	box-shadow: 0 -1px 5px #ccc;
	width:50%;
	cursor:pointer;
	position:absolute;
	height:100%;
}
#content .jqjyzd .right {
	left:50%;
	clear:both;
}
#content .jqjyzd .turn {
	background:#000;
}
#content .jqjyzd .img {
	width:200%;
	position:absolute;
	height:100%;
}













/*剑桥分园*/
#content .jqfeny{}
#content .jqfeny .hz_top{
	margin-top:50px;
}
#content .jqfeny .hz_top h2{
	font-size:30px;
	color:#80c048;
	font-weight:normal;
	line-height:40px;
}
#content .jqfeny .hz_top p{
	font-size:14px;
	color:#666666;
	line-height:26px;
}
#content .hz_fenq{
	width:1320px;
}
#content .hz_fenq .hz_fenqnk{
	width:630px;
}
#content .hz_fenq .hz_fenqnk .fenqutp{
	width:570px;
	margin-top:40px;
	position:relative;
}
#content .hz_fenq .hz_fenqnk .fenqutp h3{
	font-size:24px;
	color:#444444;
	height:50px;
	line-height:50px;
	font-weight:normal;
}
#content .hz_fenq .hz_fenqnk .fenqutp p.tpg{
	width:570px;
	height:285px;
	overflow:hidden;
}
#content .hz_fenq .hz_fenqnk .fenqutp p.tpg img{
	width:100%;
	height:100%;
}
#content .hz_fenq .hz_fenqnk .fenqutp p a{
	display:block;
	position:absolute;
	bottom:35px;
	right:0;
	background:url(../images/jingr.png) no-repeat;
	color:#ffffff;
	width:182px;
	height:48px;
	line-height:46px;
	padding-left:35px;
	font-size:16px;
}
#content .rfeny{
	width:960px;
}
#content .rfeny .hz_fenyzy{
	width:255px;
	height:330px;
	overflow:hidden;
	padding:15px;
	background:#ffffff;
	margin: 35px 5px 0 30px;
	-moz-box-shadow:3px 3px 10px #b5b3b3; 
	-webkit-box-shadow:3px 3px 10px #b5b3b3; 
	box-shadow:3px 3px 10px #b5b3b3;
    behavior:url(pie.htc);
}
#content .rfeny .hz_fenyzy .tp_top{
	width:255px;
	height:167px;
	overflow:hidden;
}
#content .hz_fenyzy .tp_top img{
	width:100%;
}
#content .rfeny .hz_fenyzy ul{
	display:block;
	height:85px;
}
#content .rfeny .hz_fenyzy h3{
	font-size:18px;
	color:#80c048;
	padding:5px 0;
	font-weight:normal;
	line-height:30px;
}
#content .rfeny .hz_fenyzy ul li p{
	color:#666666;
	font-size:14px;
	line-height:30px;
}
#content .rfeny .hz_fenyzy p.gengduo{
	font-size:14px;
	float:right;
	font-family:Arial;
}
#content .rfeny .hz_fenyzy p a{
	display:block;
	width:98px;
	height:34px;
	color:#ffffff;
	line-height:34px;
	background:#80c048;
	text-align:center;
}
#content .rfeny .hz_fenyzy:hover{
	background:#80c048;
}
#content .rfeny .hz_fenyzy:hover h3{
	color:#ffffff;
} 
#content .rfeny .hz_fenyzy:hover ul li p{
	color:#ffffff;
}
#content .rfeny .hz_fenyzy:hover p a{
	background:#ffffff;
	color:#80c048;
}
/*剑桥生活*/
#content .jqsh .chz .jqsh_nr{
	
}
#content .jqsh .chz .jqsh_nr .jqshhz{
	width:200px;
	height:170px;
	overflow:hidden;
	margin: 0 5px 25px 10px;
	background:#ffffff;
}
#content .jqsh .chz .jqsh_nr .jqshhz:hover{
	background:#80c048;
}
#content .jqsh .chz .jqsh_nr .jqshhz:hover p a{
	color:#ffffff;
}
#content .jqsh .chz .jqsh_nr .jqshhz .jqsh_tp{
	width:200px;
	height:140px;
	overflow:hidden;
}
#content .jqsh .chz .jqsh_nr .jqshhz .jqsh_tp img{
	width:100%;
}
#content .jqsh .chz .jqsh_nr .jqshhz p{
	font-size:14px;
	height:30px;
	line-height:30px;
	text-align:center;
}
#content .jqsh .chz .jqsh_nr .jqshhz p a{
	color:#444444;
}
#content .jqsh .chz .jqsh_zynr h3{
	font-size:24px;
	color:#2d9cb5;
	font-weight:normal;
	line-height:45px;
}
#content .jqsh .chz .jqsh_zynr h3 span{
	font-size:14px;
	color:#888888;
	display:block;
}
#content .jqsh .chz .jqsh_zynr p{
	font-size:14px;
	color:#444444;
	line-height:26px;
	text-indent:2em;
	padding-bottom:20px;
}
/*家园共育*/
#content .jygy .bjtd_nr .bjtdul li{
	_zoom:1;
	overflow:hidden;
	font-size:14px;
	color:#444444;
	line-height:35px;
}
#content .jygy .bjtd_nr .bjtdul li a{
	display:block;
	float:left;
	color:#444444;
}
#content .jygy .bjtd_nr .bjtdul li a:hover{
	color:#80c048;
}
#content .jygy .bjtd_nr .bjtdul li span{
	float:right;
	display:block;
}
#content .jygy .chzsp{
	margin-left: 30px;
    width: 920px;
}	
#content .jygy .chzsp h1 {
    color: #333333;
    font-size: 30px;
    font-weight: normal;
    line-height: 40px;
    padding: 50px 0 45px;
}
#content .jygy .chzsp h1 span {
	display: block;
	color: #80c048;
	font-weight: 600;
}
/*
#content .jygy .mzsp_nr{
	width:860px;
}
#content .jygy .mzsp_nr .txtx_top{
	position:relative;
	margin-top:95px;
}
#content .jygy .mzsp_nr .txtx_top p{
	float:left;
	font-size:18px;
	height: 100px;
    line-height: 155px;
	font-weight:600;
}
#content .jygy .mzsp_nr .txtx_top p a{
	color:#2d9cb5;
}
#content .jygy .mzsp_nr .txtx_top .shangz{
	}
#content .jygy .mzsp_nr .txtx_top .xiaz{
	float:right;
}
#content .jygy .mzsp_nr .txtx_top .xiaox{
	left: 117px;
    position: absolute;
    top: -140px;
}
#content .jygy .mzsp_nr .txtx_top .riqi{
	background:url(../images/zhoucds.png) no-repeat;
	width:247px;
	height:62px;
	line-height:62px;
	text-align:center;
	margin-left:185px;
	font-size:30px;
	color:#ffffff;
}
#content .jygy .mzsp_nr .ysb{
	_zoom:1px;
	overflow:hidden;
}
#content .jygy .mzsp_nr .ysb li{
	width:100%;
}
#content .jygy .mzsp_nr .ysb .ysb_top li{
	float:left;
	margin:0 5px 10px;
	width:133px;
	height:86px;
	overflow:hidden;
}
#content .jygy .mzsp_nr .ysb .ysb_left{
	width:143px;
}
#content .jygy .mzsp_nr .ysb .ysb_left li{
	width:133px;
	height:110px;
	overflow:hidden;
	margin:0 5px 10px;
}
#content .jygy .mzsp_nr .ysb .ysb_right{
	width:717px;
}
#content .jygy .mzsp_nr .ysb .ysb_right li{
	float:left;
	margin:0 5px 10px;
	width:133px;
	height:110px;
	color:#555555;
	overflow:hidden;
	position:relative;
}
#content .jygy .mzsp_nr .ysb .ysb_right li span{
	position:absolute;
	padding:10px;
	top:0px;
	color:#555555;
	font-size:12px;
	display:block;
}
#content .jygy .mzsp_nr .ysb .ysb_right p{
	text-align:center;
}
*/

#content .fxst{
	padding-top:30px;
}
#content .fxst .txtx_top{
	position:relative;
	margin-top:125px;
	width:850px;
}
#content .fxst .txtx_top p{
	float:left;
	font-size:18px;
	height: 100px;
    line-height: 155px;
	font-weight:600;
}
#content .fxst .txtx_top p a{
	color:#80c048;
}
#content .fxst .txtx_top .shangz{
	}
#content .fxst .txtx_top .xiaz{
	float:right;
}
#content .fxst .txtx_top .xiaox{
	left: 205px;
    position: absolute;
    top: -125px;
}
#content .fxst .txtx_top .riqi{
	background:url(../images/zhoucds.png) no-repeat;
	width:247px;
	height:62px;
	line-height:62px;
	text-align:center;
	margin-left:290px;
	font-size:30px;
	color:#ffffff;
}
#content .fxst .ysb{
	_zoom:1px;
	overflow:hidden;
	padding-top:30px;
}
#content .fxst .ysb li{
	width:100%;
}
#content .fxst .ysb .ysb_top li{
	float:left;
	margin:0 5px 10px;
	width:133px;
	height:86px;
	overflow:hidden;
}
#content .fxst .ysb .ysb_left{
	width:143px;
}
#content .fxst .ysb .ysb_left li{
	width:133px;
	height:130px;
	overflow:hidden;
	margin:0 5px 10px;
}
#content .fxst .ysb .ysb_right{
	width:717px;
}
#content .fxst .ysb .ysb_right li{
	float:left;
	margin:0 5px 10px;
	padding:5px;
	width:123px;
	height:120px;
	color:#666666;
	overflow:hidden;
	background:#e5e5e5;
	text-align:center;
}
#content .fxst .ysb .ysb_right li span{
	display:block;
}
#content .fxst h4{
	width:150px;
	height:42px;
	line-height:42px;
	color:#ffffff;
	background:#2d9cb5;
	text-align:center;
	font-size:16px;
	font-weight:normal;
	margin:10px 0;
}
#content .fxst .none tr ul li{
	font-size:18px;
	color:#444444;
	line-height:26px;
}
#content .fxst .none table{
	padding:0px 40px;
}
#content .fxst .none tr td.w365{
	width:365px;
}
#content .fxst .none tr td.w430{
	width:430px;
}
#content .fxst .tab_title {
	height: 55px;
	overflow: hidden;
	left: 0;
	top: 0;
	clear: both;
	overflow: hidden;
	width: 800px;
	margin:0 auto;
	position: relative;
}
#content .fxst .tab_title .u {
	width: 800px;
	overflow: hidden;
	position: relative;
	height: 55px;
}
#content .fxst .tab_title ul {
	position: absolute;
	float: left;
}
#content .fxst .tab_title div {
	float: left;
	height: 50px;
	line-height: 50px;
	cursor: pointer;
}
#content .fxst .tab_title span.vright {
	top: 0;
	right: 5px;
	margin-left: 2px;
}
#content .fxst .tab_title span.vleft {
	top: 0;
	left: 0px;
	padding-left: 5px;
}
#content .fxst .tab_title li {
	display:block;
	float: left;
	width: 175px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	font-size: 18px;
	text-align: center;
	color:#2d9cb5;
	background:#ffffff;
	margin:0 110px;
	-moz-border-radius:25px; 
	-webkit-border-radius:25px; 
	border-radius: 25px;
    behavior:url(pie.htc);
}
#content .fxst .tab_title li:hover {
	color: #ffffff;
	background:#80c048;
}
#content .fxst .tab_title li:hover a{
	color: #ffffff;
}
#content .fxst .tab_title li.selected {
	color: #ffffff;
	background:#80c048;
}
#content .fxst .tab_title li.selected  a{
	color: #ffffff;
}
#content .fxst .tab_content{
	margin-top:35px;
}
#content .fxst .tab_content .gengduo{
	text-align:center;
	margin-top:20px;
}
#content .fxst .tab_content .none {
	display: none;
}



/*选择剑桥*/
#content .xzjq .wyyy_nr{}
#content .xzjq .wyyy_nr table tr{
	display:block;
	_zoom:1;
	overflow:hidden;
	color:#444444;
	height:40px;
}
#content .xzjq .wyyy_nr table td{
	display:block;
}
#content .xzjq .wyyy_nr table .tex{
	width:125px;
	text-align:right;
	font-size:16px;
}
#content .xzjq .wyyy_nr table .xzxx{
	text-align:left;
}
#content .xzjq .wyyy_nr table .text{
	width:175px;
}
#content .xzjq .wyyy_nr table .xbxz{
	width:40px;
}
#content .xzjq .wyyy_nr table .text input{
	width:157px;
	height:25px;
	line-height:25px;
	border:1px solid #d0d0d0;
	background:#ffffff;
}
#content .xzjq .wyyy_nr table .text select{
	width:157px;
	height:25px;
	line-height:25px;
	background:#ffffff;
	outline:none;
	border:1px solid #d0d0d0;
}
#content .xzjq .wyyy_nr table .wtly{
	height:100%;
} 
#content .xzjq .wyyy_nr table .wtly textarea{
	border:1px solid #d0d0d0;
	outline:none;
	background:#ffffff;
}
#content .xzjq .wyyy_nr p{
	text-align:center;
	margin-top:50px;
	display:block;
}
#content .xzjq .wyyy_nr p input{
	background:url(../images/tijiso.png) no-repeat;
	width:247px;
	height:62px;
	line-height:62px;
	text-align:center;
	color:#ffffff;
	font-size:24px;
	border:none;
	cursor:pointer;
}
#content .xzjq .wwmxzjq_nr .xzjq_hz{
	padding-bottom:25px;
}
#content .xzjq .wwmxzjq_nr .xzjq_hz h3{
	font-size:20px;
	color:#80c048;
	height:38px;
	line-height:38px;
	font-weight:normal;
}
#content .xzjq .wwmxzjq_nr .xzjq_hz h3 span{
	display:block;
	float:left;
}
#content .xzjq .wwmxzjq_nr .xzjq_hz h3 a{
	display:block;
	float:right;
	width:112px;
	height:29px;
	line-height:29px;
	color:#ffffff;
	background:#80c048;
	text-align:center;
	font-size:16px;
}
#content .xzjq .wwmxzjq_nr .xzjq_hz p{
	font-size:16px;
	color:#444444;
	line-height:26px;
	text-indent:2em;
}
/*剑桥教育*/
#content .jqjy{}
#content .jqjy .jqzk_nr{
	width:670px;
}
#content .jqjy .jqzk_nr .kz{
	width:310px;
	height:160px;
	margin:0 25px 45px 0;
	overflow:hidden;
}
#content .jqjy .jqzk_nr .kz .jqtp{
	width:125px;
	height:160px;
	overflow:hidden;
}
#content .jqjy .jqzk_nr .kz .jqtp img{
	width:100%;
}
#content .jqjy .jqzk_nr .kz .jqwz{
	width:175px;
	padding-left:10px;
}
#content .jqjy .jqzk_nr .kz .jqwz h3{
	font-size:16px;
	color:#444444;
	font-weight:600;
}
#content .jqjy .jqzk_nr .kz .jqwz p.wenz{
	font-size:14px;
	color:#444444;
	line-height:26px;
	height:102px;
	overflow:hidden;
	margin-top:5px;
}
#content .jqjy .jqzk_nr .kz .jqwz p a{
	width:66px;
	height:30px;
	line-height:30px;
	background:#80c048;
	display:block;
	color:#ffffff;
	text-align:center;
}
/*加盟剑桥*/
#content .jmjq{}
#content .jmjq h2{
	margin:45px 0;
}
/*聘信息*/
#content .zpxi .zpxinr{
	width:940px;
}
#content .zpxi  h1{
	color: #333333;
    font-size: 30px;
    font-weight: normal;
    line-height: 40px;
    padding: 50px 0 45px;
}
#content .zpxi  h1 span{
	color: #80c048;
    display: block;
    font-weight: 600;
}
#content .zpxi .zpxinr tr{
	height:50px;
	line-height:50px;
	color:#444444;
	font-size:16px;
}
#content .zpxi .zpxinr td.zw{
	width:235px;
}
#content .zpxi .zpxinr td.jiny{
	width:115px;
}
#content .zpxi .zpxinr td.rens{
	width:115px;
}
#content .zpxi .zpxinr td.xuel{
	width:115px;
}
#content .zpxi .zpxinr td.gzdi{
	width:115px;
}
#content .zpxi .zpxinr td.shij{
	width:115px;
}
#content .zpxi .zpxinr td.xianq{
	width:115px;
}
#content .zpxi .zpxi_zd{
	width:940px;
	color:#444444;
}
#content .zpxi .zpxi_zd h3{
	font-size:24px;
	color:#80c048;
	font-weight:normal;
	padding-bottom:50px;
}
#content .zpxi .zpxi_zd tr{
	height:35px;
	line-height:35px;
}
#content .zpxi .zpxi_zd h4{
	width:120px;
	height:39px;
	line-height:39px;
	font-size:18px;
	font-weight:normal;
	text-align:center;
	color:#ffffff;
	background:#80c048;
	display:block;
	margin:50px 0 30px;
}
#content .zpxi .zpxi_zd p{
	line-height:26px;
}

#content .zpxi .zpxi_zd .scwj input{
	width:274px;
	height:35px;
	border:1px solid #e8e8e8;
}
#content .zpxi .zpxi_zd .scwj span{
	display:block;
	width:128px;
	height:37px;
	line-height:37px;
	text-align:center;
	background:#80c048;
	margin-left:30px;
}
#content .zpxi .zpxi_zd .scwj span a{
	color:#ffffff;
	font-size:18px;
	display:block;
}