body {
    background: url("../image/78340_top.jpg") no-repeat center 0 #fffff3;
}
#mytag li a {
	color: #cc6688;
	font-weight: 600;
}
#feed_box .date .month {
    background: url("../image/avatar_bg.png") repeat-x scroll 0 -76px;
    border: 1px solid #c64444;
    text-shadow: 0 -1px 0 #c64444;
}
#aside .my_pm a:hover .pm_btn {
    background: #cc6688;
    border: 1px solid #cc6688;
}
#aside .my_pm a:hover .pm_btn .pmdata {
    border: 1px solid #cc6688;
}
#aside .my_pm a:hover .pm_btn .text{
	text-shadow:0 1px #cc6688;
}
#main {
	margin-top: 120px;
}
#aside{
	margin-top: 270px;
}