@charset "utf-8";
*{
	margin:0;
	padding:0;
}
body{
	font-family:"微软雅黑","宋体";
	font-size:14px;
	background:url(../images/1.gif);
	color:#444444;
	/*background:#FF9;*/
}
@media screen and (max-width:1000px) { /*当屏幕尺寸小于1000px时，应用下面的CSS样式*/
	body{
		width:1300px
	}
    #header{
        width:1300px;
    }
}
li{
	list-style:none;
}
a{
	text-decoration:none;
	outline:none;
	color:#444444;
}
a:hover{
	color:#fa7523;
}
img{
	border:none;
	outline:none;
}
input{
	outline:none;
}
.clear{
	clear:both;
}
.main{
	width:1200px;
	margin:0 auto;
}
.left{
	float:left;
}
.right{
	float:right;
}
#top{
	width:100%;
	line-height:40px;
	height:40px;
	overflow:hidden;
	background:url(../images/top_bj.png) repeat-x;
}
#top p{
	text-align:right;
}
#top p a{
	padding:0 10px;
}
#header{
	background:#fff;
	position:fixed;
	left:0px;
	top:40px;
	z-index:9999999; 
	width:100%; 
	height:105px;
	_position:absolute; 
	_left:expression(eval(document.documentElement.scrollLeft)); 
	_top:expression(eval(document.documentElement.scrollTop));
	-moz-box-shadow:0px 2px 5px #b5b3b3; 
	-webkit-box-shadow:0px 2px 5px #b5b3b3; 
	box-shadow:0px 2px 5px #b5b3b3;
    behavior:url(pie.htc);
}
#header .logo{
	width:252px;
	height:89px;
	margin:8px 0 0 0;
}
#header .logo img{
	width:100%;
}
#header .rnav{
	width:929px;
}
#header .rnav .sousuo{
	_zoom:1;
	overflow:hidden;
	float:right;
	margin:15px 10px 15px 0;	
}
#header .rnav .sousuo .wpd{
	padding-right:15px;
}
#header .rnav .sousuo .wpd a{
	padding:0px 10px;
	line-height:27px;
	height:27px;
}
#header .rnav .sousuo .sous{
	width:262px;
	height:30px;
	_zoom:1;
	overflow:hidden;
}
#header .rnav .sousuo .sous input.text{
	border:none;
	background:url(../images/inputss.png) no-repeat;
	width:227px;
	height:27px;
	line-height:27px;
	color:#cccccc;
	font-size:12px;
	text-indent:1em;
}
#header .rnav .sousuo .sous input.tij{
	background:url(../images/inputanv1.png) no-repeat;
	width:30px;
	height:27px;
	line-height:27px;
	border:none;
	cursor:pointer;
	margin-left:5px;
}
#header .nav {
	width: 100%;
}
#header .nav .jMenu {
	display: table;
}
#header .nav .jMenu h3{
	color:#444444;
	font-size:16px;
	text-align:center;
}
#header .nav .jMenu p a{
	text-align:center;
	display:block;
}
#header .nav .jMenu .drop-menu-effect {
	display: table-cell;
	line-height: 35px;
	height: 35px;
	width: 89px;
	float: left;
	display: block;
	margin-left:8px;
}
#header .nav .jMenu .shouye{
	background:none;
	width:48px;
}
#header .nav .submenu {
	display: none;
	height:250px;
	z-index: 99999;
	background:#fffbe5;
    -moz-border-radius:8px; 
	-webkit-border-radius:8px; 
	border-radius:8px; 
	-moz-box-shadow:0px 2px 5px #b5b3b3; 
	-webkit-box-shadow:0px 2px 5px #b5b3b3; 
	box-shadow:0px 2px 5px #b5b3b3;
    behavior:url(pie.htc);
	border:1px solid #eeeeee;
	position:absolute;
	min-width:435px;
	top:105px;
	margin-left:-110px;
	+margin-left:-200px;
}
#header .nav .submenu .jiant{
	width:10px;
	position:absolute;
	top:-9px;
	left:145px;
}
#header .nav .submenu .left ul{
	width:135px;
	padding-top:20px;
}
#header .nav .submenu .left ul li{
	font-size:14px;
	font-family:"微软雅黑";
	line-height:30px;
	height:30px;
	text-align:center;
}
#header .nav .submenu .sxian{
	background:url(../images/xian.png) no-repeat;
	float:left;
	width:5px;
	height:171px;
	margin:30px 5px 0 5px;
}
#header .nav .submenu .right {
	width: 280px;
	float:left;
}
#header .nav .submenu .right img {
	width: 240px;
	height: 127px;
	padding:30px 10px 10px;
}
#header .nav .submenu .right h3 {
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	line-height: 20px;
	color: #333;
	margin-left: 10px;
}
#header .nav .submenu .right p {
	font-size: 12px;
	line-height: 20px;
	text-indent: 2em;
	text-align: left;
	padding: 0 11px 30px;
	color:#444444;
}
#footer{
	width:100%;
}
#footer .foot_top{
	width:100%;
	height:50px;
	line-height:50px;
	background:#ffe721;
}
#footer p{
	text-align:center;
}
#footer .foot_top p a{
	padding:0 10px;
}
#footer .foot_bottom{
	width:100%;
	height:90px;
	overflow:hidden;
	background:#3dbcd2;
	padding:20px 0;
}
#footer .foot_bottom p{
	font-size:12px;
	color:#fff;
	line-height:30px;
}
#footer .foot_bottom p a{
	padding:0 5px;
	color:#fff;
}
#footer .foot_bottom p a:hover{
	color:#fa7523;
}
#right_xf{
	position:fixed;
	bottom:10%;
	right:5px;
	width:60px;
	height:386px;
	z-index:9999999;
}
#right_xf ul{
	height:315px;
	overflow:hidden;
	filter:alpha(opacity=80);
	-moz-opacity:0.80;
	-khtml-opacity: 0.80;
	opacity: 0.80;
	background:#a4bf78;
}
#right_xf ul li a{
	display:block;
	width:60px;
	height:63px;
	line-height:63px;
	background:url(../images/cdaoh.png);
}
#right_xf ul li.kf a{
	background-position:0 -63px;
}
#right_xf ul li.hdzs a{
	background-position:0 -126px;
}
#right_xf ul li.ysfb a{
	background-position:0 -190px;
}
#right_xf ul li.jrwm a{
	background-position:0 -252px;
}
#right_xf p.fhdb a{
	background:url(../images/fanhui.png) no-repeat;
	margin-top:10px;
	display:block;
	width:60px;
	height:60px;
	overflow:hidden;
}
#right_xf ul li a span{
	background:url(../images/cdaoh.png)  no-repeat 0 -13px #a4bf78;
    color: #fff;
	font-family:"微软雅黑";
    display: none;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    padding-left: 62px;
    position: absolute;
	margin-top:5px;
	cursor:pointer;
    right: 0;
    width: 100px;
    z-index: 1;
}
#right_xf ul li.kf a:hover span{
	background-position:0 -66px;
}
#right_xf ul li.hdzs a:hover span{
	background-position:0 -132px;
}
#right_xf ul li.ysfb a:hover span{
	background-position:0 -190px;
}
#right_xf ul li.jrwm a:hover span{
	background-position:0 -252px;
}
#right_xf ul li a:hover span{
	display:block;
}